<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl" xml:lang="pl">
<head>
	<title>Góry / Karpaty / Beskidy / Alpy / Sudety / Tatry</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../css/styles.css" />
	<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="../images/favicon.ico" type="image/x-icon">		
	<meta name="Abstract" content="Góry / Karpaty / Beskidy / Alpy / Sudety / Tatry" />
	<meta name="Keywords" content="photo,album,gallery,bukowno,beskidy,karpaty,sudety,tatry,alpy,karkonosze,beskid,slaski,zywiecki,maly,sredni,makowski,myslenicki,wyspowy,gorce,sadecki,niski,bieszczady,podhale,orawa,spisz,pieniny,fatra,chocske,vrchy,kremnickie,cergov,jura,krakowsko,czestochowska,morawsko,skorusinskie,spisska,magura,volovske,vihorlat,nizke,zapade,wysokie,zachodnie,strazovske,gps,gpx,kml,kmz,geotagging,kremnicke,oravska,beskydy,rudawy,trekking,got" />
	<meta name="Author" content="Michał Piwowarczyk, michal.piwowarczyk@bukowno.eu" />
</head>
<script language="javascript">
var szukacz = document.location.search;
</script>
<body id="body" onLoad="{window.moveTo(0,0);window.resizeTo(window.screen.availWidth,window.screen.availHeight);}" />
<div style="width:90%; height:90%; margin-left:auto; margin-right:auto; margin-bottom: 10px; text-align:center;">
	<table style="width:100%;" align="center" cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td width="100%" align="center">
				<table style="width:100%;" align="center" cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td width="480px" align="center">
							<table width="100%" align="center">
								<tr>
									<td width="50%" align="center">
										<a href="../utils/kalendarz.php" title="Kalendarz">Kalendarz</a>
										<br />
										<a href="../utils/zestawienie.php" title="Zestawienie zbiorcze">Zestawienie zbiorcze</a>
									</td>
									<td width="50%" align="center">
										<a href="../utils/mapa.php" title="Google Maps zestawienie">Zestawienie w Google Maps</a>
										<br />
										<a href="../raporty/inne/gory.kmz" title="Google Earth KMZ KML ślad GPS">Ślad GPS w Google Earth</a>
										<br />
										<a href="../utils/rss.php" title="RSS"><img src="../images/rss.gif" style="vertical-align:middle;" border="0" title="RSS"></a>
									</td>
								</tr>
							</table>
						</td>
						<td align="center" style="font-size:14px;">
							<script language="javascript">
							if (szukacz=="?tatrywysokie")
								document.write('<a href="../index.php?d=galeria/51_4_CentralneKarpatyZachodnie/514_5_TatryWysokie&ch=galeria" title="Tatry Wysokie">');
							else
							if (szukacz=="?tatryzachodnie")
								document.write('<a href="../index.php?d=galeria/51_4_CentralneKarpatyZachodnie/514_5_TatryZachodnie&ch=galeria" title="Tatry Zachodnie">');
							else
							if (szukacz=="?alpy1")
								document.write('<a href="../index.php?d=galeria/43_4_CentralneAlpyWschodnie&ch=galeria" title="Alpy">');
							else
							if (szukacz=="?alpy2")
								document.write('<a href="../index.php?d=galeria/43_4_PolnocneAlpyWapienne&ch=galeria" title="Alpy">');
							else
							if (szukacz=="?alpy3")
								document.write('<a href="../index.php?d=galeria/43_6_PoludnioweAlpyWapienne&ch=galeria" title="Alpy">');
							else
							if (szukacz=="?gory")
								document.write('<a href="../index.php?d=galeria&ch=galeria" title="Góry Photo Galeria">');
							else
								document.write('<a>');
							</script>			
							Przejdź do galerii</a>
						</td>
						<td width="450px">
							<iframe src="../utils/googlesearch.php" name="googlesearch" allowtransparency="true" scrolling="no" frameborder="no" height="60px" width="450px"></iframe>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td width="100%">
				<script language="javascript">
					var z=window.screen.availWidth*0.7;
					if (szukacz=="?tatrywysokie")
						document.write('<a href="../index.php?d=galeria/51_4_CentralneKarpatyZachodnie/514_5_TatryWysokie&ch=galeria" title="Tatry Wysokie"><img src="../images/tlo_01.jpg" width="'+z+'px" border="0" /></a>');
					else
					if (szukacz=="?tatryzachodnie")
						document.write('<a href="../index.php?d=galeria/51_4_CentralneKarpatyZachodnie/514_5_TatryZachodnie&ch=galeria" title="Tatry Zachodnie"><img src="../images/tlo_02.jpg" width="'+z+'px" border="0" /></a>');
					else
					if (szukacz=="?alpy1")
						document.write('<a href="../index.php?d=galeria/43_4_CentralneAlpyWschodnie&ch=galeria" title="Centralne Alpy Wschodnie"><img src="../images/tlo_06.jpg" width="'+z+'px" border="0" /></a>');
					else
					if (szukacz=="?alpy2")
						document.write('<a href="../index.php?d=galeria/43_4_PolnocneAlpyWapienne&ch=galeria" title="Północne Alpy Wapienne"><img src="../images/tlo_05.jpg" width="'+z+'px" border="0" /></a>');
					else
					if (szukacz=="?alpy3")
						document.write('<a href="../index.php?d=galeria/43_6_PoludnioweAlpyWapienne&ch=galeria" title="Południowe Alpy Wapienne"><img src="../images/tlo_04.jpg" width="'+z+'px" border="0" /></a>');
					else
					if (szukacz=="?gory")
						document.write('<a href="../index.php?d=galeria&ch=galeria" title="Góry Photo Galeria"><img src="../images/tlo_03.jpg" width="'+z+'px" border="0" /></a>');
				</script>			
			</td>
		</tr>
	</table>
</div>
<div class="hslice" id="bukowno-eu" style="display:none;">
	<p class="entry-title">bukowno.eu - Aktualności</p>
	<div class="entry-content">bukowno.eu - Aktualności</div>
	<a rel="feedurl" href="../utils/rss.php?webslice">bukowno.eu - Aktualności</a>
</div>
<div style="display:none;">
photo album gallery zdjęcia bukowno piwowarczyk galeria
kml kmz gps gpx rss geotagging maps earth google ślad track
beskidy karpaty sudety tatry alpy karkonosze beskid śląski żywiecki mały średni makowski myślenicki wyspowy gorce sądecki niski bieszczady podhale orawa spisz pieniny wysokie zachodnie rudawy
fatra chocske vrchy kremnickie cergov morawsko skorusinskie spisska magura volovske vihorlat nizke zapadne vysoke strazovske oravska beskydy kysucke 
trekking got korona beskidów biznesplan
jura krakowsko częstochowska
centralne zewnętrzne wewnętrzne wschodnie
</div>
</body>
</html>