<!-- GOOGLE SEARCH -->
<form method="get" action="http://www.google.com/search" target="_parent">
	<input type="hidden" name="ie" value="UTF-8">
	<input type="hidden" name="oe" value="UTF-8">
	<input type="hidden" name="domains" value="beskidy.bukowno.eu">			
	<table align="center">
		<tr>
			<td style="text-align:right;" class="smalltxt" rowspan="2">			
				<a href="http://www.google.com/" title="Google" target="_parent"><img src="../images/googlelogo.gif" alt="Google" style="border:none;"></A>
			</td>
			<td style="width:20px;" class="smalltxt" rowspan="2">
				&nbsp;
			</td>
			<td style="text-align:center;" class="smalltxt">
				<input type="text" name="q" size="31" maxlength="255" value="">							
			</td>
			<td style="width:20px;" class="smalltxt" rowspan="2">
				&nbsp;
			</td>
			<td style="text-align:left;" class="smalltxt">
				<input type="submit" name="btnG" value="Google Search" style="font-family:Verdana,Arial,sans-serif;font-size:12px;">
			</td>
		</tr>
		<tr>
			<td style="text-align:center;" class="smalltxt">
				<table align="center">
					<tr>
						<td>
							<input type="radio" name="sitesearch" value="">
						</td>
						<td style="font-family:Verdana,Arial,sans-serif;font-size:12px;">
							The Web
						</td>
						<td>
							<input type="radio" name="sitesearch" value="beskidy.bukowno.eu" checked>
						</td>
						<td style="font-family:Verdana,Arial,sans-serif;font-size:12px;">
							bukowno.eu
						</td>
					</tr>
				</table>
			</td>
			<td class="smalltxt">
				&nbsp;
			</td>
		</tr>
	</table>
</form>